@media only screen and (max-width: 1140px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        transition: all 0.7s ease-out;
        height: 480px;
        background-color: black;
        /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4Ff7IzcUx6_pjEkvbBRuFC96rJ_EiAQjp1w&usqp=CAU");
        background-size: cover; */
    }
    .rightNav{
        text-align: center;
    }
    #search{
        width: 88%;
    }
    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 72px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .section{
        flex-direction: column-reverse;
    }
    .text-small{
        text-align: center;
    }
    .text-big{
        text-align: center;
    }
    .buttons{
        text-align: center;
    }
    .paras{
        padding: 0px;
    }
}